<%- include('header.ejs') %>

<div class="container">

  <p>User ID: <%= session.userID %></p>

  <% if(session.userID){ %>
    <p><% products.forEach(producto=>{%></p>
    <div>
    <p>Nombre: <%=producto.name %></p>
    <p>Precio: <%=producto.price %></p>
    <p>tags: <%=producto.tags %></p>
    <p>tags: <%=producto.image %></p>
    </div>        
    <%})}%>

</div>

<%- include('footer.ejs') %>